@charset "UTF-8";

/******************************/
/*********left_diary***********/
#diary_folder_box{	
	height:525px;
	width:175px;	
}
#diary_folder_title{
	width:175px;
	height: 30px;
	font-weight:bolder;
	color:#67A3AD;
	text-align:center;	
	argin-top: 5px;
}
#diary_folder_list{
	width:175px;
	height:390px;	
	margin: 0 0 0 20px;	
}
#diary_folder_box ul{	
	list-style:none;	
	padding-left:10px;
	font-size: 12px;
    line-height: 25px;
}
div ul li:hover{
	color:#5D5D5D;
	cursor:pointer;
}
#diary_folder_list li{
	list-style-image:url("../../images/minihome/folder-icon.png");	
}

#diary_folder_setting_btn{
	width:175px;
	height: 30px;
	font-weight:bolder;	
	text-align:center;	
	argin-top: 5px;
	cursor: pointer;
	margin-top: 85px;
}
#diary_folder_setting_btn:hover{
	color:#747474;
}