@charset "UTF-8";
#feelingBox{
	position:relative;	
	width:180px;
	height:40px;
	margin-bottom:5px;
}

.feelingImg{	
	display:inline-block;
	position:absolute;
	left:30px;
	top:5px;
	width:30px;
	border-radius:5px;
}

#selectFeeling{
	position: absolute;
	left:70px;
	top:8px;
	width:90px;
	height:25px;
}
#selectFeelingBox{
	display:inline-block;
}

#updateProfileContent{
	box-sizing:border-box;
	padding:5px;
	resize:none;
	width: 175px;
    height: 150px;
	width:182px;
	height:155px;
	border-radius:5px;
}
#profileImgBox{
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
	width:180px;
    height: 230px;
    margin: 0 0 15px 0;
	border:1px solid gray;
	border-radius:10px;
	vertical-align: middle;
}
#profileImgBox img{
	display:block;
	margin-top:auto;
	margin-bottom:auto;
}
.profileContent{
	box-sizing:border-box;
	padding:5px;
	border:1px solid gray;
	border-radius:5px;
	width:182px;
	height:155px;
	overflow:scroll;
}
#profileContentBox input[type=button]{
	background-color:white;
	color:black;
	border:1px solid black;
	margin-top:10px;
	margin-right:2px;
}
#profileContentBox input[type=button]:hover{
	background-color:black;
	color:white;
	cursor:pointer;
}
.profileContentBtnBox{
	margin:0;
	display:flex;
	flex-wrap:nowrap;
	justify-content:flex-end;
}
#updateProfileContentBtn{
	display:none;
}
.changeSkinController{
	display:flex;
	flex-wrap:nowrap;
	justify-content:flex-end;
	margin-top:35px;
}
.changeSkinController>input[type=button]{
	margin-left:5px;
	margin-right:3px;
	background-color:white;
	color:black;
	border:1px solid black;
}
.changeSkinController>input[type=button]:hover{
	background-color:black;
	color:white;
	cursor:pointer;
}