/**********right_diary***********/
*::-webkit-scrollbar{
    display: none;
}

/*********전체 박스**********/
#diary_content{  
  height:500px;
  width:520px;
  overflow:auto;
  margin:0 0 0 0;
  /* border:1px solid; */
}
/***********************/
#diary_input_box{
	display:flex;		
  height:110px;
  width:515px; 
  border:1px solid;
}
#input_minimi_container{
	z-index:10;
	float:left;
  height:110px;  
  width:21%; 
  border:1px solid;
}
#diary_input_container{	
	border:1px solid red;
	left:100px;
	float:left;
	width:79%;
	height:100%;
}
.diary_title_input{
	width:345px;
	height:20px;
}
.diary_content_input{
	width:345px;
	height:75px;
}
#diary_input_container:last-child{
	float:right;
	margin-top: 30px;
} 
#input_minimi_container>img{
	height:110px;
  width:100px;
  margin: 0 4px 0 4px;
}
/***********************/
#diary_content_box{
	display:flex;
	position:relative;
	margin-top:15px;
  height:80px;
  width:515px;
  /* background-color: white; */
  border:1px solid;
}
#minimi_container{
	position:absolute;
	display:flex;
	margin:0 3px 0 3px;
	/* z-index:10; */
  height:80px;
  width:80px;    
  border:1px solid;
}
#minimi_container img{
	height:80px;
  width:80px;
  margin:0 3px 0 3px;
}
#diary_content_list{
	display:inline-block;		
	position:absolute;
	padding: 2px 2px 2px 2px;
	left:100px;
	width:380px;
	height:80px;
	background-color: white;
	border:1px solid;
}
/*******************/
#pageBar{
	margin: 0 0 0 0;
}

