/**********right_diary***********/
*::-webkit-scrollbar{
    display: none;
}

/*********전체 박스**********/
#diary_content{  
	height:530px;
	width:520px;
	overflow:auto;
	margin:0 0 0 0;
	background-color:white;
	/* border:1px solid; */
}
/***********************/
#diary_input_box{
	display:flex;		
	height:115px;
	width:515px; 
	border:1px solid;
}
#input_minimi_container{
	z-index:10;
	float:left;
	height:110px;  
	width:110px; 
	margin:0 3px 0 0;
}
#diary_input_container{	
	display:flex;
	width:400px;
	height:110px;
}
#diary_title_left{
	width:350px;
	margin: 0 0 0 5px;
}
#diary_input_title_box{
	text-align:center;
	width:85px;
	height:25px;
	margin:5px 0 0 0;
}
#diary_input_content_box{
	width:345px;
	height:80px;
}
#diary_input_btn_box{	
	width:40px;
	height:105px;
	margin: 0 0 0 3px;
}
#diary_input_btn{
	margin-top:80px;
    border-radius: 5px;    
}
#diary_input_btn:hover{
	margin-top:80px;
    border-radius: 5px;
    color:white;
	background-color:#8C8C8C;
}
.diary_folder{
	display:inline-block;	
	width:85px;
	height:25px;
	margin: 0 0 0 -10;
	border-radius:5px;
}
.diary_title_input{
	width:250px;
	height:20px;
	margin: 0 0 0 0;
}
.diary_content_input{
	width:336px;
	height:75px;
	resize:none;
	border-radius:5px;
}
#diary_input_container:last-child{
	float:right;
	margin-top: 30px;
} 
#input_minimi_container>img{
	height:110px;
	width:110px;
	border-radius: 40%;
	margin:3px 0 3px 3px;
}
/***********************/
#diary_admin{
	display:flex;	
	width:415px;
	/* height:20px; */
	height:auto;
	margin:5px 0 5px 0;
	border:1px solid;
}
/***********************/
#diary_content_box{
	display:flex;
	position:relative;
	margin-top:15px;
	/* height:85px; */
	height:auto;
	width:515px;
	border:1px solid;
}
#minimi_container{
	display:flex;	
    height:80px;
    width:90px;  
    margin-top:2px; 
}
#minimi_container img{	
	height:80px;
    width:80px;
    margin:0 3px 0 3px;
    border-radius: 40%;
}
#diary_user{
	display:inline-block;	
	width:280px;
	height:20px;
	margin-left:10px;
	font-weight:bolder;
	font-size: 12px;	
}
#diary_content_list{	
	position:absolute;
    overflow: auto;
	left:85px;
	width:425px;
	/* height:80px; */
	height:auto;
	background-color: white;
}
#diary_content_title{
	display:flex;	
	width:425px;
	height:20px;
	margin:5px 0 5px 0;
}
#diary_writer_container{
	width:260px;
	height:20px;
	margin-left:10px;
	font-weight:bolder;
	font-size: 12px;		
	cursor:pointer;
}
#diary_date_container{
	width:75px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
	color: #999999;
}
#diary_btn_container{
	margin:0 0 0 0;
	width:81px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
}
.diary_up_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}
.diary_up_btn:hover, .diary_del_btn:hover{
	color:#747474;
	cursor:pointer;
}
.diary_del_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}
#diary_content_content{
	width:400px;
	/* height:35px; */
	height:auto;
	font-size: 13px;
	margin:0 5px 0 5px;
}

.diary_comment_list{
	display:flex;
	/* position:inline-block; */	
	width:400px;
	/* height:35px; */
	height:auto;
	font-size: 13px;
	border:1px solid;
}
.diary_comment_user{
	width:130px;
	height:20px;
	border:1px solid;
}
.diary_comment_content{
	width:350px;
	height:20px;
	border:1px solid;
}

#diary_comment_box{
	margin-top: 10px;	
	z-index:10;
	/* border:1px solid; */
}
#diary_comment_box label{
	font-size: 13px;
}
.diary_comment{
	width:330px;
}
.diary_com_btn{
	 border-radius: 5px; 
	 margin: 0 0 0 5px;
}

/******** update ************/
#diary_content_update{
	display:flex;		
	width:410px;
	height:110px;
	margin:0 0 0 10px;
	/* border:1px solid; */
}
.diary_folder_up{
	position:absolute;
	display:inline-block;	
	width:85px;
	height:25px;
	margin: 0 0 0 -10;
	border-radius:5px;
}
.diary_content_up_input{
	width:336px;
	height:75px;
	margin-top:25px;
	resize:none;
	border-radius:5px;
}
#diary_update_btn_box{
	margin:85px 0 0 10px;
	width:60px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
}
.diary_update_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}
.diary_cancel_btn{
	display:inline-block;
	margin:0 0 0 5px;	
	cursor:pointer;
	font-size: 12px;
}
.diary_com_btn{
	display: inline-block;
    margin: 0 0 0 0;
    cursor: pointer;
    font-size: 12px;
}
.diary_update_btn:hover, .diary_cancel_btn:hover{
	color:#747474;
	cursor:pointer;	
}
/*******************/
#pageBar{
	margin:15px 0 0 0;
	width: 515px;
    height: 30px;
    text-align: center;    
	font-size:13px;
} 
#pageBar span:nth-child(2){
	text-decoration:underline;
}
#pageBar a, #pageBar span{
	margin:0 5px 0 5px;
	font-weight:bold;
}
#pageBar a:hover{
	color:#747474;
	cursor:pointer;
	font-weight:bolder;
}
/******************************/
/*********left_diary***********/
#diary_folder_box{	
	height:525px;
	width:175px;
	/* border:1px solid; */
}
#diary_folder_title{
	width:175px;
	height: 30px;
	font-weight:bold;
	text-align:center;	
}
#diary_folder_list{
	width:175px;
	height:495px;		
}
#diary_folder_box ul{	
	list-style:none;
	/* cursor:pointer; */
	padding-left:10px;
	font-size: 12px;
    line-height: 25px;
}
div ul li:hover{
	color:#5D5D5D;
	cursor:pointer;
}

