@charset "UTF-8";
.latestUploadBox{
    margin-bottom:20px;
}
.latestUploadBox>p{
    font-weight:bolder;
    font-size:15px;
    margin-left:15px;
}
.latestAlbumBox{
    margin:10px;
}
.latestDiaryBox{
    margin:10px;
}