/**********right_diary***********/
/* *::-webkit-scrollbar{
    display: none;
} */

/*********전체 박스**********/
#diary_content{  
	height:530px;
	width:550px;
	overflow:auto;
	margin:auto;
	/* border:1px solid; */
}
/******다이어리 입력창********/
#diary_input_box{
	display:flex;		
	height:115px;
	width:515px; 
	border:1px solid;
	padding:5px;
}
#input_minimi_container{
	z-index:10;
	float:left;
	height:110px;  
	width:110px; 
	margin:0 3px 0 0;
}
#diary_input_container{	
	display:flex;
	width:400px;
	height:110px;
}
#diary_title_left{
	width:350px;
	margin: 0 0 0 5px;
}
#diary_input_title_box{
	text-align:center;
	width:85px;
	height:25px;
	margin:5px 0 0 0;
}
#diary_input_content_box{
	width:345px;
	height:80px;
}
#diary_input_btn_box{	
	width:40px;
	height:105px;
	margin-left:-1px;
}
#diary_input_btn{
	margin-top:85px;
    border-radius: 5px;    
}
#diary_input_btn:hover{
	margin-top:80px;
    border-radius: 5px;
    color:white;
	background-color:#8C8C8C;
}
.diary_folder{
	display:inline-block;	
	width:85px;
	height:25px;
	margin: 0 0 0 -10;
	border-radius:5px;
}
.diary_title_input{
	width:250px;
	height:20px;
	margin: 0 0 0 0;
}
.diary_content_input{
	width:336px;
	height:75px;
	resize:none;
	border-radius:5px;
}
#diary_input_container:last-child{
	float:right;
	margin-top: 30px;
} 
#input_minimi_container>img{
	height:110px;
	width:110px;
	border-radius: 40%;
	margin:3px 0 3px 3px;
}
/*******다이어리 출력창*******/
#diary_content_box{
	display:flex;
	position:relative;
	margin-top:15px;
	padding: 5px;
	overflow:auto;
	height:125px;
	/* height:auto; */
	width:515px;
	border:1px solid;
}
#minimi_container{
	display:flex;	
    height:80px;
    width:90px;  
    margin-top:2px; 
}
#minimi_container img{	
	height:80px;
    width:80px;
    margin:0 3px 0 3px;
    border-radius: 40%;
}
#diary_user{
	display:inline-block;	
	width:280px;
	height:20px;
	margin-left:10px;
	font-weight:bolder;
	font-size: 12px;	
}
#diary_content_list{	
	position:absolute;
    overflow: auto;
	left:85px;
	width:425px;
	/* height:80px; */
	height:auto;
	
}
#diary_content_title{
	display:flex;	
	width:420px;
	height:20px;
	margin:5px 0 5px 0;	
}
#diary_writer_container{
	width:235px;
	height:20px;
	margin-left:10px;
	font-weight:bolder;
	font-size: 12px;		
	cursor:pointer;
}
#diary_date_container{
	width:75px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
	color: #999999;
}
#diary_btn_container img{
	display:inline-block;
	height:20px;
	width:20px;	
}
#diary_btn_container{
	margin:0 0 0 0;
	width: 90px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
}
/*********다이어리 좋아요*******/
#likeBox{	
	width:37px;
	height:20px;
}
#likeBox span{
	font-size: 13px;
    font-weight: bold;
	margin:5px;		
}
#likeBox img{
	position: absolute;
	width:20px;
	height:20px;
	margin: 0 0 0 0;	
}
.diary_up_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}
.diary_up_btn:hover, .diary_del_btn:hover, .diary_com_btn:hover{
	color:#747474;
	cursor:pointer;
}
.diary_del_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}

#diary_content_content{
	width:400px;
	height:35px;
	/* height:auto; */
	font-size: 13px;
	margin:5px 5px 0 10px;
}
/*******댓글********/
.diary_comment_list{
	width:420px;
	/* height:35px; */
	height:auto;
	font-size: 13px;
	margin: 0 5px 10px 5px;
	/* border:1px solid; */
}
.diary_comment_user{
	float:left;
}
.diary_comment_content{
	float:left;
}
.diary_co_del_btn{
	float:left;
}
.diary_con_com_btn{
	float:left;
}
.diary_comment_user{	
	width:65px;
	height:22px;	
	text-align:center;
	padding-top:5px;
	font-weight:bold;
	background-color:#DBDBDB;
}
.diary_comment_content{
	width:290px;
	height:20px;	
	padding:5px 0 0 5px;	
}
#diary_comment_box{	
	margin:10px 0 10px 10px;	
	z-index:10;
	/* border:1px solid; */
}
#diary_comment_box label{
	font-size: 13px;
}
.diary_comment{	
	width:300px;
}
.diary_com_btn{
	 border-radius: 5px; 
	 margin: 0 0 0 5px;
}
.diary_co_com_btn{
	display:inline-block;
	margin:5px 0 0 5px ;	
	width:25px;
	cursor:pointer;
	font-size: 12px;
	font-weight:bold;
	color:#8C8C8C;
}
.diary_co_del_btn{
	display:inline-block;
	margin:5px 0 0 5px ;	
	width:25px;
	cursor:pointer;
	font-size: 12px;
	font-weight:bold;
	color:#8C8C8C;	
}
.diary_co_del_btn:hover, .diary_co_com_btn:hover,
 .diary_reply_btn:hover{
	color:black;
}

/******대댓글 출력창*******/
.diary_reply_list{
	display:flex;
	width:388px;
	/* height:35px; */
	height:auto;
	font-size: 13px;
	margin:0 5px 5px 35px;
	/* border:1px solid; */
}
.diary_reply_user{
	width:55px;
	height:22px;	
	text-align:center;
	padding-top:5px;
	font-weight:bold;
	background-color:#DBDBDB;
}
.diary_reply_content{
	width:290px;
	height:20px;	
	padding:5px 0 0 5px;
}
.diary_reply_btn{
	display:inline-block;
	margin:5px 0 0 5px ;	
	width:25px;
	cursor:pointer;
	font-size: 12px;
	font-weight:bold;
	color:#8C8C8C;
}

/******대댓글 입력창*******/
#diary_co_comment_box{
	margin:10px 0 10px 30px;	
	z-index:10;	
}
#diary_comment_box label{
	font-size: 13px;
}
.diary_co_comment{
	width:280px;
}
.diary_co_comment_btn{
	border-radius: 5px; 
	margin: 0 0 0 5px;
}

/******** update ************/
#diary_content_update{
	display:flex;		
	width:410px;
	height:110px;
	margin:0 0 0 10px;
	z-index:10;
	/* border:1px solid; */
}
.diary_folder_up{
	position:absolute;
	display:inline-block;	
	width:85px;
	height:25px;
	margin: 0 0 0 -10;
	border-radius:5px;
}
.diary_content_up_input{
	width:336px;
	height:75px;
	margin-top:25px;
	resize:none;
	border-radius:5px;
}
#diary_update_btn_box{
	margin:85px 0 0 10px;
	width:60px;
	height:20px;
	font-weight:bold;
	font-size: 12px;
}
.diary_update_btn{
	display:inline-block;
	margin:0 0 0 0 ;	
	cursor:pointer;
	font-size: 12px;
}
.diary_cancel_btn{
	display:inline-block;
	margin:0 0 0 5px;	
	cursor:pointer;
	font-size: 12px;
}
.diary_com_btn{
	display: inline-block;
    margin: 0 0 0 0;
    cursor: pointer;
    font-size: 12px;
}
.diary_update_btn:hover, .diary_cancel_btn:hover{
	color:#747474;
	cursor:pointer;	
}

/******폴더 수정창*******/
#diarySetting{
	position:absolute;
}
#folderAdd{
	position:absolute;
	height: 85px;
}
#diaryFolderSaveBtn{
	width:30px;
	height: 30px;
	font-weight:bolder;	
	text-align:center;		
	cursor: pointer;
	margin: 0 0 -10px 285px;	
}
#addFolderName{
	width:190px;
}
#shareMember{
	width:190px;
}
#addFriends{
	position:absolute;
	margin-top:130px;
}
#diaryMemberBtn{
	width:30px;
	height: 30px;
	font-weight:bolder;	
	text-align:center;		
	cursor: pointer;
	margin: 0 0 -10px 285px;
}
#folderDel{
	position:absolute;
    margin-top: 260px;
}
#diary_del_folder_btn{
	width:30px;
	height: 30px;
	font-weight:bolder;	
	text-align:center;		
	cursor: pointer;
	margin: 0 0 -10px 285px;	
}
#diaryFolderSaveBtn:hover, #diary_del_folder_btn:hover, #diaryMemberBtn:hover{
	color:#747474;
}


/*******************/
#pageBar{
	margin:15px 0 0 0;
	width: 515px;
    height: 30px;
    text-align: center;    
	font-size:13px;
} 
/* #pageBar span:nth-child(2){
	text-decoration:underline;
} */
#pageBar a, #pageBar span{
	margin:0 5px 0 5px;
	font-weight:bold;
}
#pageBar a:hover{
	color:#747474;
	cursor:pointer;
	font-weight:bolder;
}

