#a{
   position: relative;
   top: 100px;
   border: orange 2px solid;
    border-radius: 10px;
}

#b{
   position: relative;
   top: 200px;
   border: orange 2px solid;
    border-radius: 10px;
}

#title{
   font-weight: bold;
   position: relative;
   left: 70px;
   top: 30px;
   font-size: 20px;
}

#id1{
   margin: 50px;
   /* border: 1px red solid; */
   width: 760px;
   position: relative;
   left: 50px;
}

#id2{
   margin: 50px;
   /* border: 1px red solid; */
   width: 760px;
   position: relative;
   left: 50px;
   bottom: 10px;
}
#no{
 
   /* border: 1px red solid; */
   width: 760px;
}
#no1{
    width: 13%;
}
#homebutton{
	text-align: center;
	
	 position: relative;
   left: 400px;
 
}
body>footer{
	width: 100%;
	position: fixed;
	bottom: -30px;
	text-align: center;
	transition: bottom .5s;
}

body>footer:hover{
	bottom: 0px;
}

body>footer>#footer{
	width: 100%;
	background-color: rgb(225, 118, 75);
}

body>footer p{
	padding: 10px;
}

