body{
    font-family: 'Roboto', 'Noto Sans KR';
}

*::-webkit-scrollbar{
    display: none;
}

body>.profile{
    height: 200px;
    width: 200px;
    background-color: rgb(190, 190, 190);
    margin: 30px 10px 20px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>.profile>img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

body>.info{
    margin: 0 10px 0 10px;
}

body>.info>div{
    border-radius: 3px;
    padding: 8px 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(94, 94, 94);
    margin: 10px 0 10px 0;
}

body>.info>hr{
    margin-right: 80px;
}

