


*::-webkit-scrollbar{
    display: none;
}
#searchShop form{
	padding: 30px 0 0 40px;
	
}
#shopTopTap span{
	/* margin: 10px 0 0 10px; */
	padding: 30px 0 0 40px;
	
}  

#shopHeader{
	display: flex;
	justify-content: space-between;
}
#shopHeader>div{
	display: flex;
	justify-content: center;
} 



#searchShop img:active{
	opacity:0.5;
}
#searchShop>form{
	display: flex;
	align-items: center;
}

#searchShop>form>img{
    background-color: rgb(190, 190, 190);
    height: 24px;
    width: 24px;
    
    
    /* margin-top:20px ; */
    
    border-radius: 3px;
    border :rgb(190, 190, 190) solid ;
}
#searchShop>form>#searchTap{
    width: 250px;
    height: 20px; 
    
    margin-right:10px;
    border: rgb(190, 190, 190) solid;
}
/* 또또 css말썽이네 */
#shopHeader>div{ 
	display: flex;   
}


div#shopTopTap>span{
   
    font-weight: bold;
    
}