/* 장바구니 헤더 */
.basketheader{
	
	border: 1px solid #c0c0c0;
	font-size:20px;
	height:auto;
	
	/* position:fixed;
	top:0; */
	width:100%; 
	display:flex;
	justify-content: space-between;
	
}

.basketheader>p,
.basketheader input{
	margin:10px 10px;
}
.check-all{
	color:white;
	background-color:orange;
	height:30px;
}
.basketInfo>ul>li:nth-child(2){
	color:orange;
}
.basketButtons>input:nth-child(2){
	color:black;
	background-color:orange;
}


#section{
	overflow:scroll;
}

.basketheader
/* 카테고리별 */
.basketCols{
	margin:20px 0 20px 0;
}
/* 체크박스 */
.basketCheck{
	display:flex;
	align-items: center;
}
.basketCheck>input:nth-child(1){
	width:20px;
	height:20px;
}

.basketImg>img{
	height:50px;
	width:50px; 
	background-color:white; 
}
/* 도토리 개 색칠 */
.basketInfo>ul>li:nth-child(3){
	color:orange;
}
.basketInfo>ul>li{
	padding:0 0 0 40px;
	/* display:flex;
	justify-content: space-between; */
}
.basketInfo{
	display:flex;
	align-items: center;
}
.basketselectCount{
	display:flex;
	align-items: center;
}
/* 구입할 수량 박스 */
.basketselectCount>input{
	width:30px;

}
.basketselectCount{
	padding:0 0 0 40px;
}



/* 미니미 타입 전체 info */
.mybasketMinimi{
	display: flex;
	margin:20px 0 20px 0;
	border: 1px solid #c0c0c0;
    border-radius: 5px;	
}

/* 스킨 타입 전체 info */
.mybasketSkin{
	display: flex;
	margin:20px 0 20px 0;
	border: 1px solid #c0c0c0;
    border-radius: 5px;	
}
/* 뮤직 타입 전체 info */
.mybasketMusic{
	display: flex;
	margin:20px 0 20px 0;
	border: 1px solid #c0c0c0;
    border-radius: 5px;
}


.basketCount{
	border: 1px solid #c0c0c0;
	height:80px;
	margin:0 0 40px 0;
	
}
.basketCount>p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:20px 0 0 0;
}
.basketInfo>ul{
	display: flex;
	list-style:none;
}

/* 전체 */
.Allbasket{
	width:60%;
	/* border: 1px solid  #c0c0c0; */
	/* min-width:60px; */ 
}
#AllBasketForm{
	width:70%;
}
.basketButtons{
	display: flex;
	justify-content: space-between;
	border: 1px solid #c0c0c0;
	padding: 0 30px 0 30px;
	height: 42px;
	align-items: center;

}
.basketButtons>button{
	width:130px;
	height: 30px;
	
}
.basketfooter{
	/* position:fixed;
	bottom:0; */
}
.basketbody{
	/* position:absolute;
	top:30px; */
}
