
/* 가람씨랑 말맞추기 */
body{ 
    display: flex;
    justify-content: center;
}

#section{
	overflow:scroll;
}

/* test img내용  */
 div.MusicPicture>img{
    width: 150px;
    height: 150px;
}
/* 체크박스+내용 */
div.MusicInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 가운데 정렬 밑 오른쪽 체크박스 없애기 */
div.MusicInfo>input:nth-child(3){
    opacity: 0;
}
/* 체크박스정렬 */
/* relate빼고 텍스트와 위아래 맞추려면 */
.MusicInfo>input{
    width: 18px;
    height: 18px;
    
}
/* 뮤직 전체 움직임 */
div.productMusic{
    border: 2px solid rgb(190, 190, 190);
    border-radius: 5px;
}

.MusicInfo> ul{
    list-style: none;
}
/* #MusicTable>table{
    width: 151;
    width: 151;
} */
/* 뮤직 내용 */
.MusicInfo{
    width: 150px;
    height: 70px;
}
/* table 양옆 사이 조정 */
#MusicTable>tbody tr td{
    padding: 0 0 40px 40px;   
}